* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.size-sec {
    padding: 80px 0px;
    background-color: #f5f7fa;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

.size-cnt {
    width: 40%;
    margin: 0 auto 30px;
    text-align: center;
}

h1 {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 50px;
    color: #000;
    line-height: 1;
    letter-spacing: 0px;
    margin-bottom: 20px;


}

p {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 20px;
    color: #000;
    line-height: 1.75;
    letter-spacing: 0px;



}

.sizing-img {
    width: 50%;
    margin: 0 auto 30px;
    text-align: center;
}

.sizing-img img {
    width: 100%;
    display: block;
    margin-bottom: 30px;
}


.sizing-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    width: max-content;
    margin: 0 auto;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

.sizing-img p {
    margin-bottom: 30px;
    color: red;
}

.sizing-img p:last-child {
    margin-bottom: 0px;
    color: #000 !important;
}